@{
    ViewData["Title"] = "Education Page";
}

<div class="text-center">
    
    <p>Education page</p>
    <hr>
    <style>
        .my-table {
            
            width: 80%;
            margin: auto;
           
        }

            .my-table th,
            .my-table td {
                border: 1px solid #c27ba0;
            }
    </style>
    <table class="my-table">
        <thead>
            <tr>
                <th>Degree</th>
                <th>Year</th>
                <th>Institute</th>
           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bachelor's Degree</td>
                <td>2024</td>
                <td>AIUB</td>
                
            </tr>
            <tr>
                <td>HSC</td>
                <td>2019</td>
                <td>RUMC</td>
                
            </tr>
            <tr>
                <td>SSC</td>
                <td>2017</td>
                <td>SSAC</td>
                
            </tr>
            
        </tbody>
    </table>
</div>
