@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <!-- <p>My index</p>-->

    
    <dl>
        <dt>Name:</dt>
        <dd>Md Abdullah Al Noman</dd>

        <dt>Email:</dt>
        <dd>abdullahnoman1414@gmail.com</dd>

        <dt>GitHub:</dt>
        <dd><a href="https://github.com/Md-AbdullahAl-Noman" target="_blank">https://github.com/Md-AbdullahAl-Noman</a></dd>
    </dl>


</div>
