@{
    ViewData["Title"] = "Personal Page";
}

<style>
    table {
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 05px;
    }

    th {
        width: 30%; 
    }
</style>

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    <p>Personal page</p>
    <hr>

    <table>
        <tr>
            <th>Name</th>
            <td>: Md Abdullah Al Noman </td>
        </tr>
        <tr>
            <th>Father's Name</th>
            <td>: Md Shahidul Islam</td>
        </tr>
        <tr>
            <th>Mother's Name</th>
            <td>: Hosnaira Begum</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>: #House-83,Gazipur,Dhaka</td>
        </tr> 
        <tr>
            <th>Gender</th>
            <td>: Male</td>
        </tr>
    </table>
</div>
