@{
    ViewData["Title"] = "Projects Page";
}

<div class="text-center">
 
    <p>Projects page</p>
    <hr />
</div>
    <ol>
        <li>
            <h4>Project 1</h4>
            <p>E-Learning Platform.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h4>Project 2</h4>
            <p>Blood Bank Management System.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h4>Project 3</h4>
            <p>My Note.</p>
            <a href="#">Read more</a>
        </li>
       

    </ol>
