@{
    ViewData["Title"] = "References Page";
}

<div class="text-center">
  
    <p>References page</p>
</div>
<hr>

    <div >
        <ol>
            <li >Mir Md Kawser.</li>
            <li>Abhijit Bhowmik.</li>
            <li>Tanvir Ahmed.</li>
         
        </ol>
    </div>

